* {
    background: url(../imagem/YODA.png);
}

ul {
    list-style: none;
}

li {
    padding: 5px;
    background-color: antiquewhite;
    border: 1px solid black;
    text-transform: uppercase;
    display: inline;
    border-radius: 4px;
}

li:hover {
    background-color: aliceblue;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 50%;
    border-radius: 10px;
}

#menu {
    text-align: center;
}

#show {
    text-align: center;
}


